<div class="GuestbookTable">
    <div class="guestbookHeader">
        <h2 class="textHeader">Nieuw bericht</h2>
    </div>
    <div class="messageBlock whiteRow">
        <form action="/" method="POST">
            <div class="messageFormTopBlock">
                <div class="messageName messageFormName whiteRow">
                    <div class="messageInput">
                        <label for="messageFormName">Naam</label>
                        <input type="text" name="guestbook[name]" id="messageFormName" />
                    </div>
                </div>
                <div class="messageInput messageFormSubmit">
                    <input type="submit" value="submit" id="submit" />
                </div>
            </div>
            <div class="messageContent messageFormContent whiteRow">
                <div class="messageInput">
                    <label for="messageFormMessageContent">Bericht</label>
                    <textarea name="guestbook[messageContent]" id="messageFormMessageContent"></textarea>
                </div>
             </div>
            <input type="hidden" name="guestbook[uid]" id="messageFormUid" value="" />
        </form>
    </div>
</div>