<f:debug title="Messages">{messages.1}</f:debug>
<div class="GuestbookTable">
    <div class="guestbookHeader">
        <h2 class="textHeader">Berichten</h2>
    </div>
    <f:for each="{messages}" as="message">
        <f:cycle values="{0: 'blueRow', 1: 'whiteRow'}" as="colorRow">
            <div class="messageBlock {colorRow}">
                <div class="messageDate {colorRow}">
                        {namespace guestbook=MyVendor\Guestbook\ViewHelpers}
                        <guestbook:date date="{message.date}"/>
                </div>
                <div class="messageName {colorRow}">{message.name}</div>
                <div class="messageContent {colorRow}"><f:format.crop maxCharacters="100">{message.messageContent}</f:format.crop>
                    <div class="deleteMessage"><span onclick="deleteMessage({message.uid})" title="Delete">&#128465;</span></div>
                    <div class="editMessage"><span onclick="editMessage({message.uid})" title="Edit">&#128260;</span></div>
                </div>
            </div>
        </f:cycle>
    </f:for>
</div>
