<div id="container">

    <div class="header">
        <f:cObject typoscriptObjectPath="lib.header" />
    </div>

    <div class="guestbook">
        <f:render section="Guestbook" />
    </div>

</div>