<f:layout name="Default" />

<f:section name="Guestbook">

    <div class="formControl">
        <f:cObject typoscriptObjectPath="lib.formValidation.render" />
        <f:comment><f:render partial="FormControl" /></f:comment>
        <f:comment><f:cObject typoscriptObjectPath="lib.formControl.render" /></f:comment>
    </div>

    <div class="fact">
        <f:cObject typoscriptObjectPath="lib.fact" />
    </div>

    <div class="top-content">
        <f:cObject typoscriptObjectPath="lib.topContent" />
    </div>

    <f:cObject typoscriptObjectPath="lib.messageList.render" />

</f:section>