<f:comment><f:debug title="Test">{_all}</f:debug></f:comment>

<f:render partial="MessageForm" />

<f:render partial="MessageList" arguments="{messages: messages, newMessage: newMessage}" />


<f:section name="notifications">

    {namespace guestbook=MyVendor\Guestbook\ViewHelpers}

    <span>Hello <guestbook:notification /></span>

</f:section>