$primary-color: lightblue;

/* Container */
#container {
  max-width: 800px;
  padding-left: 100px;
}

/* Header */

.header {
  /*padding-left: 50px;*/
}

/* Notifications */
.notifications {
  /*padding-left: 50px;*/
}

/* Fact */
.fact {
  background-color: $primary-color;
  width: 300px;
  margin: 20px -50px;
  padding: 50px;
  padding-right: 100px;
  border-radius: 20px;

}

/* Top content */
.top-content {
  /*padding-left: 50px;*/
}

/* Guestbook */
.guestbook {
  /*padding-left: 50px;*/
}

.messageInput {
  padding: 10px;
}

.messageInput label {
  display: inline-block;
  width: 100px;
}

textarea {
  height: 50px;
  width: 500px;
  resize: none;
}

.guestbookTable {
  width: 100%;
}

.guestbookHeader {
  height: 50px;
  width: 100%;
}

h2.textHeader {
  padding-left: 50px;
}

.messageBlock {
  /*padding: 10px;*/
  margin: 20px;
  border: 5px solid $primary-color;
  border-radius: 10px;

}

/*.messageBlock.blueRow {*/
/*    border: 5px solid white;*/
/*}*/

/*.messageBlock.whiteRow {*/
/*    border: 5px solid $primary-color;*/
/*}*/

.messageFormTopBlock {
  height: 75px;
}

.messageFormName {
  float: left;
}

.messageFormSubmit {
  float: right;
  padding: 25px 20px 0 0;
}

.messageFormContent textarea {
  height: 100px;
  resize: none;
  border-radius: 10px;
}

.messageName {
  height: 50px;
  width: 70%;
  padding: 10px;
  border-radius: 10px 0 0 0;
}

.messageDate {
  height: 55px;
  margin: 8px;
  float: right;
  clear: both;
  border-radius: 10px;
}

.messageDate {
  blueRow {
    background-color: white;
  }

  whiteRow {
    background-color: $primary-color;
  }
}

.messageDateDay {
  font-size: 1.4em;
}

.messageContent {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 0 0 10px 10px;

  .messageContent.blueRow {
    border-top: 5px solid white;
  }

  .messageContent.whiteRow {
    border-top: 5px solid $primary-color;
  }
}

.editMessage, .deleteMessage {
  float: right;
  margin: 0 5px;
}

a[title=Edit] {
  text-decoration: unset;
}

.deleteMessage:hover, .deleteMessage:hover {
  cursor: pointer;
}

.blueRow {
  background-color: $primary-color;
}

.whiteRow {
  background-color: white;
}
